body {
    color: #333;
    font: 12px/1.5 '微软雅黑',tahoma;
}

.red, .red a, a.red {
    color: #f13131;
}
a.btn_xx {
    color: #fff;
    text-decoration: none;
}
.sider_area {
    width: 190px;
    float: left;
    margin-top: 7px;
}
.titLink {

    width: 102px;
    height: 18px;

}
.all_title a {
    color: #fff;
}
.all_title {
    background: #f13131;
    border: 1px solid #f13131;
    font: bold 15px / 20px "宋体";
    height: 29px;
    color: #fff;
    padding-left: 15px;
}

.block_con {
    padding-top: 0;
    background-color: #faf4e6;
    border: solid 1px #f0dcb7;
    border-width: 0 1px;
    background-color: #faf4e6;
}

.btn_cy {
    background: url(/images/indexIcon_btn.png) no-repeat 0 -23px;
    height: 22px;
    line-height: 22px;
    width: 51px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    border: 0;
    vertical-align: middle;
}
.block_con h3 {
    font: bold 14px / 16px "宋体";
    color: #e60012;
    padding: 11px 0 0 30px;
}

.ulMode1 {
    padding: 10px 0 10px 20px;
    font-size: 14px;
    border-bottom: 1px solid #f0dcb7;
}


.ulMode1 li {
    right: -1px;
    position: relative;
    height: 31px;
    line-height: 31px;
    padding-left: 15px;
    cursor: pointer;
    display: block;
    background-position: right -500px;
}
.ulMode1 li a {
    display: inline-block;
    width: 140px;
    height: 100%;
    color: #e75200;
}

.modBody {
    margin: 10px 0 0;
    border: 1px solid #e0e0e0;
}

.modBody h3 {
    background: #eaeaea;
    border-bottom: 1px solid#e0e0e0;
    font: bold 12px / 24px "宋体";
    height: 24px;
    padding: 0 0 0 13px;
}
.modBody li {
    padding: 12px 5px 0 10px;
    line-height: 21px;
    white-space: nowrap;
    overflow: hidden;
}

.modBody a {
    color: #666;
    text-decoration: none;
    font-size: 12px;
}

#docBody {
    width:1200px;
    margin:0 auto
}
img {
    border: 0;
}

.hmzx-top {
    height: 30px;
    padding: 8px 10px 0;
    border: 1px solid #cccccc;
    border-bottom: none;
}

.hmzx-top select {
    padding: 2px 0 2px 0;
    width: 106px;
}

.hm-plan .content {
    float: none;
    width: auto;
    border-top: 1px solid #d9d9d9;
    border-top: 1px solid #d9d9d9;
}


.hm-plan .c-wrap, .hm-plan .c-inner {
    padding: 0;
}

.c-wrap #list_data {
    position: relative;
}
table {
    font-size: inherit;
    border-collapse: collapse;
    border-spacing: 0;
}
.rec_table {
    text-align: center;
    width: 100%;
}

.rec_table th {
    background: #fbfbfb;
    height: 35px;
    line-height: 35px;
    font-weight: 400;
    border-bottom: 1px solid #E1E1E1;
    color: #999;
}

.rec_table td {
    height: 34px;
    color: #6c6c6c;
    vertical-align: middle;
}

.rec_table .th_on td {
    background: #f5f5f5;
}

.btn_xx {
    background: url(/images/awar_icon.png) no-repeat 0 -38px;
    height: 22px;
    line-height: 22px;
    margin-left: 5px;
    width: 51px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    border: 0;
    vertical-align: middle;
}

.page a.h_l,.page a.next,.page a.pre{background:url(/images/sub_ico.png) no-repeat}
.page{text-align:center;padding:5px;height:22px;line-height:22px}
.page a{display:inline-block;height:22px;line-height:22px;vertical-align:middle;overflow:hidden;margin:3px}
.page a:hover{text-decoration:none}
.page a.h_l,.page a.h_l:hover{width:50px;background-position:0 -27px;height:22px;overflow:hidden}
.page a.pre,.page a.pre:hover{background-position:0 0;width:70px;height:22px;overflow:hidden;text-align:center;padding-left:6px}
.page a.next,.page a.next:hover{background-position:7px -55px;border:none;width:77px;height:22px;text-align:center;margin-left:-8px}


