.c_d7d7d7 {
    color:#d7d7d7
}
.topWrap {
    border-bottom:1px solid #dedede;
    clear:both
}
.userInfoBox {
    float:left;
    width:228px;
    padding:10px 0
}

.userInfo .userName {
    padding-right:15px;
    line-height:22px
}
.userInfo .userName strong {
    display:block;
    font-size:14px;
    word-break:break-all
}
.userInfo .iconLevel {
    float:left;
    margin:0 15px 0 10px;
    display:inline
}
.userInfoBox .btnBox {
    margin:5px 15px 0 15px
}
.userInfoBox ul.list {
    margin:10px 15px 0 15px;
    line-height:24px
}
.userInfoBox ul.list li {
    padding-left:65px
}
.userInfoBox ul.list li .textL {
    position:absolute;
    margin:0 0 0 -65px;
    text-align:right;
    width:60px
}
.userInfoBox ul.list li .gains_imgs {
    vertical-align:middle;
    line-height:24px
}
.userInfoBox ul.list a {
    text-decoration:none
}
.scheme {
    float:left;
    padding:5px 0 5px 0;
    width:800px;
    position:relative;
    z-index:2;
    border-left:1px solid #dedede;
    height:auto!important;
    height:185px;
    min-height:130px
}
.scheme .share {
    position:absolute;
    right:15px;
    top:10px;
    line-height:27px;
    z-index:1
}
.scheme .share i {
    background:url(../../img/lotteryBet/lottery_btnIcon.png?0db8973b02492e7e7b35e06c0c9b86e8) no-repeat -76px 0;
    display:inline-block;
    width:17px;
    height:17px;
    vertical-align:middle
}
.scheme .share .shareCtnEm {
    background:none repeat scroll 0 0 #fff;
    border:1px solid #b2b2b2;
    display:none;
    left:-10px;
    padding:5px;
    position:absolute;
    top:32px;
    width:150px;
    z-index:1
}
.scheme .share .shareCtnEm a {
    display:inline-block;
    font-weight:500;
    margin:3px 2px;
    width:68px
}
.scheme .share .shareCtnEm span {
    display:inline-block;
    position:absolute
}
.cusp01,.cusp02 {
    position:absolute;
    display:block;
    height:0;
    line-height:0
}
.scheme .share .shareCtnEm .cusp01 {
    border-color:transparent transparent #dcdcdc;
    border-style:none solid solid;
    border-width:0 9px 9px;
    left:25px;
    top:-10px;
    _border-color:#fff #fff #dcdcdc;
    zoom:1
}
.scheme .share .shareCtnEm .cusp02 {
    border-color:transparent transparent #fff;
    border-style:none solid solid;
    border-width:0 9px 9px;
    left:25px;
    top:-9px;
    _border-color:tomato tomato #fff;
    _filter:chroma(color=tomato);
    zoom:1
}
.scheme p {
    margin-left:15px
}
.scheme .list {
    margin:0 15px
}
.scheme .list li {
    position:relative;
    zoom:1;
    line-height:18px;
    margin:10px 0
}
.scheme .list li.jtip {
    margin-right:60px
}
.rightMark {
    display:inline-block;
    background:url(../../img/icon16px.png?9747cc11d1c46089740f48ddd6920fdd) no-repeat -26px -40px;
    width:16px;
    height:16px;
    line-height:16px;
    margin-left:2px;
    vertical-align:middle
}
.scheme .warnMark,.scheme .rightMark {
    margin:0 3px;
    vertical-align:text-bottom
}
.caseStatus strong {
    display:inline-block;
    vertical-align:baseline
}
.scheme .list .c_d7d7d7 {
    margin:0 5px
}
.progressBox {
    position:absolute;
    left:60px;
    top:0;
    width:450px;
    height:18px;
}
.progressBox .progressBar {
    background:url(/images/btn_repeat.png) repeat-x 0 -197px;
    position:relative
}
.progressBox .progressBar .progress {
    background:url(/images/btn_repeat.png) repeat-x 0 -235px;
    display:block;
    height:100%;
    line-height:18px;
    text-align:center;
    color:#fff;
    font-size:14px
}
.progressBox i {
    display:none;
    height:100%;
    width:0;
    font-size:0;
    border-left:1px solid #fff;
    border-right:1px solid #666;
    position:absolute;
    top:0;
    filter:alpha(Opacity=30);
    opacity:.3
}
.icoBaodi {
    display:none;
    width:76px;
    height:22px;
    line-height:22px;
    text-align:center;
    background:url(/Images/icoBaodi.png?e7d06896f03443a850c68765df5d7fe0) 0 0 no-repeat;
    position:absolute;
    right:-10px;
    top:-2px;
}
.baodi .icoBaodi {
    display:block
}
.baodi .progressBar {
    margin-right:70px
}
.baodi i {
    display:block
}
.fail .progressBar .progress {
    background-position:0 -216px
}
.ulTable {
    width:775px;
    height:54px;
    overflow:hidden;
    margin:8px auto;
    border:1px solid #d7d7d7;
    background:url(/Images/btn_repeat.png?2741409559cf194be56d038f2b397b77) repeat-x 0 -255px;
    border-radius:4px
}
.ulTable li {
    border-right:1px solid #d7d7d7;
    height:100%;
    width:16%;
    margin-left:-1px;
    padding-top:5px;
    float:left;
    text-indent:17px;
    white-space:nowrap;
    overflow:hidden
}
.ulTable li strong {
    display:block;
    color:#333;
    font:bold 16px/24px Arial;
    height:24px
}
.ulTable li span {
    display:block;
    line-height:20px;
    height:20px;
    color:#727171
}
.my_join_info_tip {
    border:1px #d3d3d3 solid;
    background-color:#ebebeb;
    padding:6px;
    width:445px;
    position:absolute;
    z-index:200
}
.my_join_info_wrap {
    background-color:#fff;
    position:relative;
    padding:4px
}
.my_join_info_tip i.arrowSideline {
    border-color:#fff #fff #d6d6d6;
    border-color:transparent transparent #d6d6d6\9;
    border-style:solid;
    _border-style:solid dashed;
    height:0;
    line-height:0;
    width:0;
    border-width:0 6px 6px;
    _border-width:0 7px 7px;
    position:absolute;
    z-index:11;
    right:153px;
    _right:151px;
    top:-7px;
    _top:-22px;
    display:block;
    zoom:1;
    background:#fff;
    background:none\9
}
.my_join_info_tip i.arrowIcon {
    border-color:transparent transparent #ebebeb;
    border-style:solid;
    _border-style:solid dashed;
    display:block;
    height:0;
    line-height:0;
    width:0;
    border-width:0 6px 6px;
    _border-width:0 7px 7px;
    position:absolute;
    z-index:12;
    right:153px;
    _right:151px;
    top:-6px;
    _top:-21px;
    zoom:1;
    background:none\9
}
.my_join_info_table {
    padding:4px;
    background-color:#fff
}
.number_user_wrap {
    padding-top:10px;
    clear:both
}
.number_user_tab {
    list-style:none;
    border-bottom:3px #f13131 solid
}
.number_user_tab li {
    display:inline
}
.number_user_tab li a {
    text-decoration:none;
    padding:4px 18px;
    display:block;
    border:1px #dedede solid;
    border-width:1px 1px 0 0;
    position:relative;
    z-index:1;
    float:left;
    font-size:14px;
    font-weight:bold
}
.number_user_tab li a:link,.number_user_tab li a:visited,.number_user_tab li a:active {
    color:#000
}
.number_user_tab li a:hover {
    color:#ba2636
}
.number_user_tab li.an_cur a {
    border-color:#f13131;
    background-color:#f13131
}
.number_user_tab li.an_cur a:link,.number_user_tab li.an_cur a:visited,.number_user_tab li.an_cur a:active {
    color:#fff
}
#numberDetail,#userBox {
    padding:10px
}
#numberDetail {
    position:relative
}
.number_detail_tab {
    border-bottom:1px solid #cbcbcb;
    height:29px;
    position:relative;
    z-index:20
}
.number_detail_tab li {
    background-color:#fff;
    background-image:none;
    border:1px solid #cbcbcb;
    cursor:pointer;
    float:left;
    font-size:13px;
    height:16px;
    line-height:16px;
    margin-right:10px;
    padding:6px 0;
    position:relative;
    text-align:center;
    width:120px;
    z-index:100
}
.number_detail_tab li.active {
    background:url("../../images/zqdc_table.png") repeat-x scroll 0 -10px #fff;
    border-bottom-color:#fff;
    color:#2b2b2b;
    font-size:14px;
    font-weight:bold
}
.number_detail_tab li.liveLink {
    background:none repeat scroll 0 0 transparent;
    border:0 none;
    font-size:12px;
    font-weight:normal;
    width:auto
}
.number_user_wrap .detail_ctn {
    padding:0;
    border:1px solid #cecece;
    border-top:0;
    position:relative;
    z-index:10;
    overflow:visible
}
#userBox p em {
    color:#ba2636;
    padding:0 5px
}
.user_table {}
.user_table thead {
    border:1px #ececec solid;
    color:#717171;
    text-align:center
}
.user_table thead tr {
    height:30px
}
.my_join_info_table tr,.user_table tbody tr {
    height:35px;
    text-align:center
}
.my_join_info_table thead,.user_table thead,.even_row {
    background-color:#f7f7f7
}
.my_join_info_page {
    background-color:#fff;
    position:absolute;
    bottom:0;
    width:100%
}
.align_right {
    text-align:right
}
.coin {
    background:url("../../img/icon16px.png") no-repeat scroll 0 -39px transparent;
    display:inline-block;
    height:20px;
    width:23px;
    vertical-align:middle;
    margin-right:5px
}
.bonus {
    color:#ba2636;
    font-weight:bold
}
.halfock {
    background:url("../../img/hall/lock.png") no-repeat scroll 104px 0 #ebebeb;
    height:75px;
    line-height:75px;
    margin:10px 0;
    padding-left:150px
}
.halfock {
    background-position:104px -76px
}
.number_detail_tab_wrap {
    position:relative
}
.nopay {
    padding:20px;
    text-align:center
}
.detail_ctn table {
    width:100%
}
.jtipWraper {
    z-index:20001
}
.uploadpupop .hover {
    background-position:0 -100px
}
.c_959595 {
    color:#959595
}
.upload_submit {
    cursor:pointer;
    color:#fff;
    font-size:14px;
    font-weight:bold;
    width:83px;
    height:30px;
    background:url(../../images/usrlogin.png?c38185ff2f8ec20764d0629c5575213d) -88px 0;
    border:0
}
.notice {
    padding:10px 5px;
    font-size:13px;
    line-height:24px;
    border-top:1px solid #cbcbcb;
    margin:-1px -1px -5px -1px;
    background-color:#fff
}
.notice p {
    padding-left:15px;
    position:relative
}
.notice p.fwb {
    padding:0
}
.notice p span {
    position:absolute;
    left:0;
    _left:-15px;
    *line-height:13px;
    top:0;
    display:inline-block;
    width:15px
}
.index_page {
    text-align:center;
    height:30px;
    line-height:30px;
    padding-top:10px;
    font-size:12px;
    padding-bottom:10px
}
.treaty {
    line-height:inherit;
    padding-left:inherit;
    padding-top:inherit
}
.mingxi_con {
    right:1px
}
.chipped .all_info_box {
    display:block
}
.single_table_dialog .iDialogMain table {
    width:700px
}
.single_table_dialog .iDialogMain {
    height:325px;
    overflow-x:hidden;
    overflow-y:scroll
}
.ml_50 {
    margin-left:50px
}
.f_left {
    float:left
}
.f_right {
    float:right
}
#betBranch .noHit {
    border-width:0
}
#betBranch .statistics_con {
    border-width:1px 0
}
.chipped .noUpload {
    height:150px;
    line-height:175px;
    background:url(../../img/hall/notUpload.png) 40% 50px no-repeat;
    text-indent:350px;
    font:20px/150px 'Microsoft Yahei','simhei'
}