.hot_block {
    width:1090px
}
#topAd {
    width:1090px;
    height:100px;
    margin:10px auto
}
#docBody {
    width:1090px;
    margin:0 auto
}
#docBody h2.tit {
    font:bold 16px/24px 'Microsoft Yahei',Simhei;
    text-shadow:0 0 0 #2b2b2b;
    color:#2b2b2b;
    margin:10px 0 5px 0
}
#docBody h2.tit .tgTextWrap {
    margin:0 0 0 10px;
    height:20px;
    padding:4px 0 0
}
#docBody h2.tit .tgTextWrap ul {
    font:12px/20px "simsun"
}
#docBody h2.tit span {
    float:left
}
#docBody h2.redTit {
    border-bottom:3px solid #f13131;
    padding-bottom:5px;
    margin-bottom:0
}
.lately {
    border-left:1px solid #e9e9e9;
    margin-right:-1px
}
.lately li {
    float:left;
    width:197px;
    height:72px;
    border:1px solid #e9e9e9;
    border-left:0;
    position:relative;
    margin-bottom:-1px;
    cursor:pointer
}
.lately li .czLogo {
    left:5px;
    top:5px;
    margin:0
}
.lately li h3 {
    text-align:center;
    font:bold 14px/18px simsun;
    margin:14px 0 4px 70px
}
.lately li p {
    margin-left:70px;
    text-align:center;
    color:#727171
}
.lately li a.buyNow,.lately li a.buyNow:visited {
    height:24px;
    width:66px;
    background:url(/images/buyBtn.png?1b8d7d757747bb9571bfd145e5d7603b) -154px -69px no-repeat;
    margin-left:100px;
    text-align:center;
    line-height:23px;
    color:#fff
}
.lately li a.buyNow:hover {
    text-decoration:none;
    color:#fff
}
.lately li.hover {
    background-color:#f4f4f4
}
.lately li.hover p,.lately li a.buyNow {
    display:none
}
.lately li.hover .buyNow {
    display:inline-block
}
.lately .cz_jiajiang {
    top:2px
}
.lately .cz_BrandNew {
    top:1px;
    _top:1px;
    line-height:0;
    _margin:0
}
#tuijian {
    background-color:#f2f2f2;
    padding:10px 0
}
#tuijian li {
    width:258px;
    height:220px;
    float:left;
    display:inline;
    margin-left:10px;
    border:1px solid #e6e6e6;
    text-align:center;
    position:relative;
    background:#fff
}
#tuijian li .buyNow {
    display:block;
    margin:5px auto 10px auto;
    height:37px;
    width:126px;
    background:url(/images/buyBtn.png?1b8d7d757747bb9571bfd145e5d7603b) -94px 0 no-repeat
}
#tuijian li .jrkj,#tuijian li .cz_BrandNew,#tuijian li .cz_jiajiang {
    display:block;
    position:absolute;
    width:80px;
    height:81px;
    z-index:10;
    left:-5px;
    top:-5px;
    background-image:url(/images/buyBtn.png);
    background-repeat:no-repeat
}
#tuijian li .jrkj {
    background-position:0 0;
    z-index:11
}
#tuijian li .cz_BrandNew {
    background-position:-84px -94px
}
#tuijian li .cz_jiajiang {
    background-position:0 -94px
}
.szImg {
    width:233px;
    height:142px;
    background:url(/images/tuijian.jpg) no-repeat;
    display:block
}
.szImg_d11 {
    background-position:0 0
}
.szImg_ssq {
    background-position:-248px 0
}
.szImg_jczq,.szImg_jczq_spf_p,.szImg_jczq_bf_p,.szImg_jczq_zjq_p,.szImg_jczq_bcspf_p,.szImg_jczq_spf_s,.szImg_jczq_bcspf_s {
    background-position:-498px 0
}
.szImg_kuai3 {
    background-position:0 -157px
}
.szImg_x3d {
    background-position:-248px -157px
}
.szImg_jclq,.szImg_jclq_sf_s,.szImg_jclq_sf,.szImg_jclq_rfsf_p,.szImg_jclq_dxfc_p,.szImg_jclq_sfc_p {
    background-position:-498px -157px
}
.szImg_football_dc,.szImg_football_dcspf,.szImg_football_dczjq,.szImg_football_dcbqcspf,.szImg_football_dcbf,.szImg_football_dcsxds,.szImg_football_sfc,.szImg_football_9,.szImg_football_bqc,.szImg_football_f4cjq {
    background-position:0 -309px
}
.szImg_ssc,.szImg_jxssc {
    background-position:-248px -309px
}
.szImg_dlt {
    background-position:-498px -309px
}
.allList {
    text-align:center;
    padding-bottom:10px;
    margin-right:-10px
}
.allList li {
    float:left;
    width:206px;
    height:148px;
    margin:10px 10px 0 0;
    display:inline;
    border:1px solid #e9e9e9;
    color:#727171;
    position:relative;
    cursor:pointer
}
.allList li div,.allList li .buyNow {
    display:none
}
.allList li .cz_logo {
    margin:10px auto 0 auto
}
.allList li h3 {
    font:bold 14px/24px simsun;
    padding:0 10px;
    height:24px
}
.allList li h3 em {
    font-size:12px;
    font-weight:normal;
    margin-left:3px;
    padding:0 2px;
    height:16px;
    line-height:18px;
    display:inline-block;
    overflow:hidden;
    vertical-align:text-bottom;
    color:#fff;
    background-color:#7ab9f2
}
.allList .cz_BrandNew {
    top:3px;
    _top:3px;
    _margin:0;
    height:14px;
    line-height:0
}
.allList .btnBox {
    text-align:center;
    margin:8px 0 0 0
}
.allList .buyNow {
    position:absolute;
    bottom:25px;
    left:50px;
    display:block;
    height:28px;
    width:81px;
    background:url(/images/buyBtn.png?1b8d7d757747bb9571bfd145e5d7603b) -139px -39px no-repeat
}
.allList .hover .linkBox {
    text-align:center;
    padding:0;
    width:188px;
    position:absolute;
    bottom:10px;
    left:0
}
.allList .hover {
    background-color:#f4f4f4;
    text-align:left
}
.allList .hover p,.allList .hover .cz_logo {
    display:none
}
.allList .hover h3 {
    color:#2b2b2b;
    margin-top:5px
}
.allList .hover div {
    display:block;
    padding:0 10px
}
.allList .hover .buyNow {
    display:block;
    margin:5px auto
}
#tj_x3d .cz_jsj,#cz_x3d .cz_jsj,#cz_oldkuai3 .cz_jsj,#cz_d11 .cz_jsj,#tj_d11 .cz_jsj,#hyd11 .cz_jsj,#cz_gdd11 .cz_jsj {
    background:url(/images/buyBtn.png?1b8d7d757747bb9571bfd145e5d7603b) no-repeat scroll -71px -287px transparent;
    height:44px;
    left:auto;
    position:absolute;
    right:3px;
    top:-3px;
    width:66px;
    z-index:10
}
#cz_dlt .cz_jsj,#tj_dlt .cz_jsj {
    background:url(../../img/temp/dlt20131106_hall.png) no-repeat scroll 0 0 transparent;
    height:44px;
    left:auto;
    position:absolute;
    right:3px;
    top:-3px;
    width:66px;
    z-index:10
}
.hover #cz_dlt .cz_jsj {
    display:none
}
#tj_jxssc .cz_jsj,#cz_jxssc .cz_jsj {
    background:url(/images/buyBtn.png?1b8d7d757747bb9571bfd145e5d7603b) no-repeat scroll -143px -287px transparent;
    height:44px;
    left:auto;
    position:absolute;
    right:3px;
    top:-3px;
    width:66px;
    z-index:10
}
.lately .cz_jsj {
    background:url(/images/buyBtn.png?1b8d7d757747bb9571bfd145e5d7603b) no-repeat scroll -170px -333px transparent;
    height:44px;
    right:-1;
    position:absolute;
    top:-1px;
    width:50px;
    z-index:100
}
.lately .cz_jsj {
    left:148px
}
.lately .cz_NBA {
    top:2px
}
.allList .cz_NBA,#tuijian .cz_NBA {
    background:url(/images/buyBtn.png?20131025) 0 -332px no-repeat;
    height:44px;
    width:68px;
    position:absolute;
    top:-2px;
    right:-2px;
    left:auto;
    z-index:10
}
.allList .cz_w200s20,#tuijian .cz_w200s20 {
    background:url(../../img/activity/jcW200G20_201310/com.png) no-repeat 0 -67px;
    height:44px;
    left:auto;
    position:absolute;
    right:-2px;
    top:-2px;
    width:68px;
    z-index:10
}
#cz_oldkuai3 .cz_jiajiang {
    background:url(/images/buyBtn.png?20131218) no-repeat scroll -71px -332px transparent;
    height:44px;
    left:auto;
    position:absolute;
    right:3px;
    top:-3px;
    width:68px;
    z-index:10
}


.cz_logo {
    width:81px;
    height:85px;
    display:block;
    text-indent:-999px;
    overflow:hidden;
    background:url(/images/czlogo_81x85.png) no-repeat
}
.cz_ssq {
    background-position:0 0
}
.cz_x3d {
    background-position:0 -90px
}
.cz_qlc {
    background-position:0 -180px
}
.cz_dlt {
    background-position:0 -270px
}
.cz_pl3 {
    background-position:0 -360px
}
.cz_pl5 {
    background-position:0 -450px
}
.cz_qxc {
    background-position:-85px 0
}
.cz_kl8 {
    background-position:-170px 0
}
.cz_kuai2 {
    background-position:-255px -360px
}
.cz_klpk {
    background-position:-255px -451px
}
.cz_pk10 {
    background-position:-170px -180px
}
.cz_d11 {
    background-position:-85px -450px
}
.cz_gdd11 {
    background-position:-255px -90px
}
.cz_jxd11 {
    background-position:-255px -180px
}
.cz_hljd11 {
    background-position:-255px -270px
}
.cz_zjd11 {
    background-position:-340px -181px
}
.cz_cqd11 {
    background-position:-340px -272px
}
.cz_lnd11 {
    background-position:-340px -450px
}
.cz_feiyu {
    background-position:-424px -88px
}
.cz_football_sfc {
    background-position:-85px -90px
}
.cz_football_9 {
    background-position:-85px -180px
}
.cz_football_f4cjq {
    background-position:-170px -360px
}
.cz_football_bqc {
    background-position:-170px -450px
}
.cz_football_dcsfgg {
    background-position:-340px -360px
}
.cz_dczq,.cz_football_dc,.cz_football_dcspf,.cz_football_dczjq,.cz_football_dcbqcspf,.cz_football_dcbf,.cz_football_dcsxds {
    background-position:-85px -270px
}
.cz_jxssc,.cz_ssc {
    background-position:-85px -360px
}
.cz_jclq,.cz_jclq_sf,.cz_jclq_rfsf_p,.cz_jclq_dxfc_p,.cz_jclq_sfc_p,.cz_jclq_sf_s,.cz_jclq_rfsf_s,.cz_jclq_sfc_s,.cz_jclq_dxfc_s,.cz_jclq_mix_p {
    background-position:-170px -90px
}
.cz_jczq,.cz_jczq_spf_p,.cz_jczq_bf_p,.cz_jczq_zjq_p,.cz_jczq_bcspf_p,.cz_jczq_mix_p,.cz_jczq_rqspf_p,.cz_jczq_rqspf_s,.cz_jczq_spf_s,.cz_jczq_bcspf_s,.cz_jczq_zjq_s {
    background-position:-170px -270px
}
.cz_kuai3,.cz_oldkuai3,.cz_gxkuai3,.cz_hbkuai3,.cz_ahkuai3,.cz_nmgkuai3 {
    background-position:-255px 0
}
.cz_kl10 {
    background-position:-340px -88px
}
.cz_klc {
    background-position:-424px 0
}
.cz_hnfeiyu {
    background-position:-424px -88px
}