.authentication .afc,.authentication .amz,.authentication .atc,.luckBox .awardinfo li,.luckBox .awardinfo li.blue,.luckBuy .wfIco,.luckBuy .zstIco,.product .absorbed h3,.product .absorbed i,.product .safety h3,.product .safety i,.product .sincerity h3,.product .sincerity i,.weixin .desc .st {
	background: url("/images/new/index.png")no-repeat;
}

#banner {
	position: relative;
	z-index: 100;
	overflow: hidden;
	margin: 0 auto;
	padding-top: 10px;
	width: 100%;
	height: 310px;
	min-width: 990px;
}

#flexslider {
	position: relative;
	overflow: hidden;
	margin-left: 255px;
	height: 310px;
	background: url("/images/new/loading.gif") 50% no-repeat;
}

#flexslider .slides {
	position: relative;
	z-index: 1;
}

#flexslider .slides li {
	height: 310px;
}

#flexslider .flex-control-nav {
	position: absolute;
	bottom: 10px;
	z-index: 2;
	margin-left: 318px;
	width: 100%;
}

#flexslider .flex-control-nav li {
	display: inline-block;
	margin: 0 3px;
	width: 12px;
	height: 12px;
	zoom: 1;
}

#flexslider .flex-control-nav a {
	display: inline-block;
	overflow: hidden;
	width: 12px;
	height: 12px;
	border-radius: 8px;
	background: #ffe6b3;
	line-height: 40px;
	cursor: pointer;
}

#flexslider .flex-control-nav .flex-active {
	background: #fe7c31;
}

.loginBox {
	position: absolute;
	top: 0;
	right: -22px;
	z-index: 102;
	overflow: hidden;
	width: 288px;
	height: 310px;
	background: rgba(0,0,0,.6);
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#66000000',EndColorStr='#66000000');
}

.loginBox .title {
	margin: 35px auto 0;
	width: 200px;
	text-align: center;
	line-height: 16px;
}

.loginBox .title h2 {
	color: #fff;
	font-weight: 400;
	font-size: 18px;
	font-family: '楷体';
}

.loginBox .title h2 span {
	letter-spacing: 3px;
}

.loginBox .buyInfo {
	margin: 20px auto 0;
	width: 244px;
	color: #fff;
	text-align: left;
	font-size: 14px;
}

.loginBox .buyInfo strong {
	color: #fe7c31;
	font-weight: 400;
	font-size: 24px;
}

.loginBox .loginInfo {
	margin: 30px auto 0;
	width: 240px;
	color: #fff;
	text-align: center;
}

.loginBox .loginOther {
	margin: 20px auto 0;
	width: 207px;
	color: #fff;
	text-align: center;
	font-size: 14px;
}

.maincontent {
	float: left;
	margin: 13px 13px 0 0;
	width: 898px;
}

.product {
	height: 130px;
}

.product .safety {
	margin-right: 11px;
}

.product .absorbed {
	margin-right: 11px;
	background: #fe9a42;
}

.product .sincerity {
	background: #8ad357;
}

.product .safety i {
	position: absolute;
	top: 15px;
	left: 21px;
	display: inline-block;
	width: 76px;
	height: 84px;
}

.product .absorbed i {
	position: absolute;
	top: 15px;
	left: 21px;
	display: inline-block;
	width: 80px;
	height: 80px;
	background-position: -82px 0;
}

.product .sincerity i {
	position: absolute;
	top: 15px;
	left: 21px;
	display: inline-block;
	width: 73px;
	height: 72px;
	background-position: -168px 0;
}

.product .safety h3 {
	width: 59px;
	height: 30px;
	background-position: -145px -88px;
}

.product .absorbed h3 {
	width: 60px;
	height: 30px;
	background-position: -211px -88px;
}

.product .sincerity h3 {
	width: 60px;
	height: 30px;
	background-position: -280px -88px;
}

.product li {
	position: relative;
	float: left;
	width: 290px;
	height: 128px;
	border: 1px solid #ecebeb;
}

.product .title {
	margin-top: 16px;
	margin-bottom: 10px;
	margin-left: 118px;
	height: 31px;
	text-indent: -9999em;
}

.product li p {
	margin-left: 118px;
	width: 159px;
	color: #fff;
	font-size: 14px;
	line-height: 20px;
}

.hotLottery {
	margin-top: 10px;
	border: 1px solid #eae9e9;
	background: #fff;
	width:592px;
}

.hotLottery .title {
	display: block;
	padding-left: 25px;
	height: 40px;
	color: #676767;
	font-size: 16px;
	line-height: 40px;
}

.hotLottery .ulList {
	height: 147px;
	border-top: 1px solid #eae9e9;
}

.hotLottery .ulList li {
	position: relative;
	float: left;
	overflow: hidden;
	width: 297px;
	height: 147px;
	border-right: 1px solid #eae9e9;
}

.hotLottery .ulList li.noBor {
	border-right: 0;
}

.hotLottery .ulList .desc {
	position: relative;
	overflow: hidden;
}

.hotLottery .ulList i {
	position: absolute;
	top: 20px;
	left: 19px;
}

.hotLottery .ulList .desc p {
	display: inline-block;
	overflow: hidden;
	margin: 31px 0 0 100px;
	height: 57px;
	color: #666;
	line-height: 20px;
}

.hotLottery .ulList .lotbuy {
	margin-left: 23px;
}

.hotLottery .ulList .lotbuy h2 {
	display: inline-block;
	width: 120px;
	color: #666;
	font-size: 18px;
}

.luckBet {
	border-top: 1px solid #eae9e9;
}

.luckBet .luckNav {
	display: inline-block;
	margin-left: 21px;
}

.luckBet .luckNav li {
	float: left;
	width: 69px;
	height: 50px;
	color: #676767;
	text-align: left;
	font-weight: 700;
	font-size: 16px;
	line-height: 50px;
	cursor: pointer;
}

.luckBet .luckNav li.on,.luckBet .luckNav li:hover {
	color: #fe7c31;
}

.luckBet .luckcon {
	display: inline-block;
	padding: 0 28px 20px 19px;
}

.luckBet .luckBox i {
	position: absolute;
	top: 0;
	left: 0;
}

.luckBet .luckBox .desc {
	margin: 10px 0 0 93px;
	color: #676767;
	line-height: 25px;
}

.luckBet .luckBox .desc strong {
	font-size: 14px;
}

.luckBox .awardinfo {
	display: inline-block;
	margin-top: 11px;
	width: 478px;
}

.luckBox .awardinfo li {
	float: left;
	display: inline-block;
	margin-right: 17px;
	width: 48px;
	height: 48px;
	background-position: 0 -404px;
	text-align: center;
	font-size: 20px;
	font-family: 'Microsoft Yahei';
	line-height: 38px;
}

.luckBox .awardinfo li.blue {
	background-position: -50px -404px;
}

.luckBox .awardinfo li input {
	margin-top: 4px;
	width: 30px;
	height: 30px;
	border: 0;
	background: 0;
	color: #fff;
	text-align: center;
	font-weight: 700;
	font-size: 20px;
}

.luckBox .awardinfo li input:focus {
	background: #fff;
	color: #333;
}

.luckBuy {
	margin-top: 20px;
	margin-left: 60px;
}

.luckBuy .zstIco {
	display: inline-block;
	margin-right: 12px;
	width: 17px;
	height: 17px;
	background-position: 0 -382px;
	vertical-align: top;
}

.luckBuy .wfIco {
	display: inline-block;
	margin-right: 12px;
	margin-left: 16px;
	width: 17px;
	height: 17px;
	background-position: -22px -382px;
	vertical-align: top;
}

.luckBuy .buying {
	margin: 20px 0 19px;
}

.luckBuy .buying a:hover {
	color: #fff;
	text-decoration: none;
}

.siderBox {
	float: left;
	width: 288px;
}

.notice {
	padding: 10px 18px 18px;
	border: 1px solid #eae9e9;
	background: #fff;
	height:160px;
}

.notice h2 {
	display: inline-block;
	height: 33px;
	color: #676767;
	font-size: 16px;
	line-height: 33px;
}

.notice li {
	overflow: hidden;
	width: 240px;
	height: 26px;
	color: #676767;
	font-size: 12px;
	line-height: 26px;
}

.notice li i {
	float: left;
	display: inline-block;
	margin-top: 9px;
	margin-right: 8px;
	width: 3px;
	height: 3px;
	border: 2px solid #fe8138;
	border-radius: 5px;
	background-position: 0 0;
	vertical-align: middle;
}

.notice li a {
	float: left;
	overflow: hidden;
	width: 180px;
	text-align: left;
}

.notice li a:hover {
	color: #fe7c31;
}

.weixin {
	position: relative;
	margin-top: 12px;
	padding: 0 18px 11px 0;
	border: 1px solid #eae9e9;
	background: #fff;
}

.weixin i {
	position: absolute;
	top: 8px;
	left: 7px;
	width: 104px;
	height: 104px;
	background: url("/images/new/weixinLogo.png") no-repeat;
}

.weixin .desc {
	margin: 16px 0 0 120px;
}

.weixin .desc .st {
	display: inline-block;
	width: 138px;
	height: 47px;
	background-position: 0 -91px;
}

.weixin .desc p {
	margin-top: 5px;
	color: #969595;
	font-size: 14px;
	line-height: 19px;
}

.authentication {
	margin-top: 11px;
}

.authentication .afc {
	display: inline-block;
	width: 288px;
	height: 51px;
	background-position: 0 -144px;
}

.authentication .atc {
	display: inline-block;
	margin-top: 6px;
	width: 288px;
	height: 51px;
	background-position: 0 -203px;
}

.authentication .amz {
	display: inline-block;
	margin-top: 6px;
	width: 288px;
	height: 51px;
	background-position: 0 -265px;
}

#loginInfo_index {
	margin: 20px 0 0 28px;
	width: 246px;
	color: #fff;
	font-size: 14px;
}

#loginInfo_index p {
	line-height: 25px;
}

#loginInfo_index .accLink {
	color: #fff;
}

#loginInfo_index .accLink:hover {
	color: #fff;
	text-decoration: none;
}

#loginInfo_index .btn {
	display: inline-block;
	margin-top: 10px;
	margin-right: 5px;
	width: 65px;
	height: 28px;
	border-top: 1px solid #b6663b;
	background: #fe7c31;
	color: #fff;
	text-align: center;
	text-decoration: none;
	font-size: 12px;
	line-height: 28px;
}

#loginInfo_index .btn:hover {
	color: #fff;
	text-decoration: none;
}

#loginInfo_index .btn1 {
	border-top: 1px solid #479e80;
	background: #57d198;
}

#loginInfo_index .btn1:hover {
	color: #fff;
	text-decoration: none;
}
