.side-pannel {
	position: fixed;
	left: 50%;
	margin-left: 496px;
	z-index: 99
}
.side-bar {
	border: 1px solid #E7E7E7;
	border-bottom: none;
	bottom: 100px;
	background: #fff
}
.side-bar a {
	display: block;
	cursor: pointer;
	width: 70px;
	height: 60px;
	border-bottom: 1px solid #E7E7E7;
	position: relative;
	color: #676767;
	text-align: center
}
.side-bar a s {
	display: block;
	margin-left: auto;
	margin-right: auto
}
.side-bar a span {
	line-height: 20px
}

.side-bar a.gotop s {
	position: absolute;
	top: 50%;
	left: 17px
}
.side-bar a.text {
	padding-top: 25px
}
.side-bar a.qr s {
	position: absolute;
	top: 50%;
	left: 18px
}
.side-bar a.qr i {
	width: 277px;
	height: 259px;
	position: absolute;
	left: -277px;
	top: 50%;
	margin-top: -120px;
	display: none;
	background-position: 0 0
}
.side-bar a.qr:hover i {
	display: block
}
.side-bar a.qr i {
	background-image: url(../images/weixin.png)
}

.g-icon-top {
	height: 20px;
	width: 35px;
	margin-top: -10px;
	background-position: 0 -33px
}
.g-icon-survey1 {
	height: 23px;
	width: 26px;
	margin-top: -11px;
	background-position: 0 -53px
}
.side-bar a.survey:hover s {
	height: 23px;
	width: 26px;
	margin-top: -11px;
	background-position: -26px -53px
}
.g-icon-qq1 {
	height: 20px;
	width: 22px;
	margin-top: -10px;
	background-position: -35px -33px
}
.g-icon-weibo1 {
	height: 25px;
	width: 27px;
	margin-top: -12px;
	background-position: -72px 0
}
.g-icon-weibo2, .side-bar a.weibo:hover s {
	height: 25px;
	width: 27px;
	margin-top: -12px;
	background-position: -72px -25px
}
.g-icon-qr1 {
	height: 33px;
	width: 36px;
	margin-top: -16px;
	background-position: -36px 0
}
.g-icon-qr2, .side-bar a.qr:hover s {
	height: 33px;
	width: 36px;
	margin-top: -16px;
	background-position: 0 0
}

.g-icon-qq1, .g-icon-qr1, .g-icon-qr2, .g-icon-survey1, .g-icon-survey2, .g-icon-top, .g-icon-weibo1, .g-icon-weibo2,.side-bar a.qr:hover s, .side-bar a.survey:hover s, .side-bar a.weibo:hover s{background-image: url(../images/sprite.png)}