/* CSS Document */
@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;}
body { margin:0;padding:0;}
.selling{border:1px solid #ADC8DD;background:#E6F2FB;padding:4px;height:401px;overflow:hidden;position:relative;margin-bottom:10px;}
.selling_tit{height:28px;line-height:28px;text-align:right;padding:0 4px;border-bottom:1px solid #fff;}
.selling_tit h3{float:left;}
.selling_tit a{text-decoration:underline;}
.selling ul{background:#f5faff;height:347px;}
.selling li{background:#f5faff;width:221px;overflow:hidden;padding:7px 0 5px 9px;border-top:1px solid #E6F2FB;overflow:hidden;float:left;}
.selling_category{width:158px;float:left;}
.selling li s{width:22px;height:22px;float:left;margin-right:5px;}
.selling li a{vertical-align:middle;zoom:1;overflow:hidden;}
.selling_category span{display:inline-block;white-space:nowrap;margin-right:0px;height:20px;overflow:hidden;line-height:20px;vertical-align:middle;}
.main_l .selling_category span{width:76px;}
.selling .list01 s{background-position:-199px -113px;}
.selling .list02 s{background-position:-222px -113px;}
.selling .list03 s{background-position:-248px -113px;}
.selling .list04 s{background-position:-271px -113px;}
.selling .list05 s{background-position:-295px -113px;}
.selling .list06 s{ background:url(http://www.cpdyj.com/home/images/icon_bd.png) no-repeat;}
.selling .list08{ padding:15px 0 15px 9px}
.selling .list08 s,.apple_ico,.android_ico{ background:url(http://www.cpdyj.com/home/images/sprite_index.png) no-repeat; }
.selling .list08 s{width:24px; height:24px;}
.logo_name_style{ float:left;margin-right:10px;line-height:22px;color:#9fa0a2;}

#main_nav { margin-bottom:0px;box-shadow:none;}
.wrap { width:1200px; margin:0 auto;}
.overflow {margin-bottom:10px;}
/* 2014-7-17 icon  添加 */
.main_m { width:514px; height:455px; float:left; }
.main_m .main_m_t { width:514px; height:220px; position:relative;}
.fouse_box{ width:514px; overflow:hidden; height:220px;}
.fouse_img{ width:2100px; }
.fouse_img li { float:left; overflow:hidden;width:514px;}
.main_m .main_m_t .button_left { float:left;width:40px; height:49px; line-height:49px;background:url(http://www.cpdyj.com/home/images/banner_button24.png) no-repeat 0 -49px;position:absolute; left:0px; top:80px; display:inline-block;text-indent:-9999px;_background:url(http://www.cpdyj.com/home/images/banner_button8.png) no-repeat 0 -49px;}
.main_m .main_m_t .button_right {float:right;width:40px; height:49px;background:url(http://www.cpdyj.com/home/images/banner_button24.png) no-repeat 0 -147px;position:absolute; left:475px; top:80px;display:inline-block;text-indent:-9999px;_background:url(http://www.cpdyj.com/home/images/banner_button8.png) no-repeat 0 -147px;}
.main_m .main_m_t .l_cur {background:url(http://www.cpdyj.com/home/images/banner_button24.png) no-repeat 0 0;_background:url(http://www.cpdyj.com/home/images/banner_button8.png) no-repeat 0 0;}
.main_m .main_m_t .r_cur {background:url(http://www.cpdyj.com/home/images/banner_button24.png) no-repeat 0 -98px;_background:url(http://www.cpdyj.com/home/images/banner_button8.png) no-repeat 0 -98px;}
.main_m .main_m_t .fouse_btn { height:10px; margin: -18px auto 0; text-align:center; zoom:1;position: relative; _position: static; float: right;}
.main_m .main_m_t .fouse_btn li { display:inline-block; float:left;width:10px;background:url(http://www.cpdyj.com/home/images/banner_button24.png) no-repeat 0 -210px;text-align:center; cursor:pointer;_background:url(http://www.cpdyj.com/home/images/banner_button8.png) no-repeat 0 -210px; margin-right:5px; text-indent:-999em;}
.main_m .main_m_t .fouse_btn .cur {background:url(http://www.cpdyj.com/home/images/banner_button24.png) no-repeat -29px -210px;_background:url(http://www.cpdyj.com/home/images/banner_button8.png) no-repeat -29px -210px;}

.main_m .main_m_b { clear:both; width:514px; height:318px; border-bottom:1px solid #dddddd;}
.main_m .main_m_b a:hover {color:#c00;}
.main_m .main_m_b h3 { height:18px;font-size:16px; padding-top:19px;font-family:"Microsoft YaHei"; font-weight:normal; text-align:center;}
.main_m .main_m_b h3 a { color:#c00; margin-right:10px;}
.main_m .main_m_b .h3_tip {width:484px; height:35px; margin:0 auto; border-bottom:1px dashed #dddddd;}
.main_m .main_m_b .h3_tip a { line-height:35px;color:#333333; padding-right:3px; font-size:12px;}
.main_m .main_m_b .h3_tip a:hover {color:#c00;}
.main_m .main_m_b .h3_tip a span {color:#888888; font-weight:normal;}
.main_m .main_m_b ul {width:493px; padding-left:21px; overflow:hidden; zoom:1 }
.main_m .main_m_b li {width:493px; font-size:14px;padding-top:12px;overflow: hidden; background:url(../images/main_r_b2.png) no-repeat 0 -601px;overflow:hidden; zoom:1;*height:17px; }
.main_m .main_m_b ul .important { font-weight:bold; background:url(../images/main_r_b2.png) no-repeat 0px -571px;}
.main_m .main_m_b ul .important strong { color:#FFF;}
.main_m .main_m_b ul li a { padding:0 5px 0 9px;color:#063f6f;}
.main_m .main_m_b li span {color:#888888; font-weight:normal;}
.main_m .main_m_b li strong { width:37px; height:16px;color:#676767; padding:0 5px; font-size:12px; font-weight:normal;}

.main_r { float:right;width:242px; height:445px;margin-top:7px;}
.main_r_head {width:242px; height:41px; position:relative;}

.main_r_head ul {width:242px; height:38px; position:absolute;left:0px; top:0px; display:none;}
.main_r_head li {color:#888888; padding:0px 0px 3px 15px; font-size:12px;}
.main_r_head li a {color:#063f6f;}
.main_r_head li a:hover {color:#c00;}
.main_r_head li span {color:#c00; font-weight:normal;}

.main_r_head div {float:left;width:105px; height:35px; margin:0 5px 0 10px; background: url(http://www.cpdyj.com/home/images/button_1.png) no-repeat; display:inline;}
.main_r_head div a { display:block; font-size:14px;width:105px; height:35px; line-height:35px; font-weight:bold; color:#bf6b37; text-align:center; text-shadow:1px 1px #FFFFFF; }
.main_r_head div a:hover {text-decoration:none;color:#bf6b37;background: url(http://www.cpdyj.com/home/images/button_1.png) no-repeat 0 -35px;}
.main_r_t {width:240px; height:170px; border:1px solid #dddddd;}
.main_r_t .module_tit {width:240px; height:34px;}
.main_r_t .module_tit ul { width:240px; height:34px;}
.main_r_t .module_tit li {float:left;width:120px; font-size:14px; background:#f4f4f4;}
.main_r_t .module_tit a {width:90px; line-height:34px; border:1px solid #dddddd; border-top:none; border-right:none; display:block; padding-left:29px; color:#333333;}
.main_r_t .module_tit .module_tit_l a { border-left:none;padding-left:30px;}

.main_r_t .module_tit .rev a { color:#063f6f; border-bottom:none; background:#FFFFFF;}
/*
.main_r_t .module_tit a:hover { color:#063f6f; border-bottom:none; background:#FFFFFF;}
*/
.main_r_t .con_otice_post {width:240px; height:125px;}
.main_r_t .con_otice_post ul {width:240px; height:124px; margin-top:10px;}
.main_r_t .con_otice_post li { line-height:22px; background:url(http://www.cpdyj.com/home/images/main_r_b2.png) no-repeat -104px 11px; padding-left:12px; margin-left:25px;overflow: hidden;}
.main_r_t .con_otice_post a { color:#666666;}
.main_r_t .con_otice_post a:hover { color:#063f6f;}
.main_r_m {width:240px; height:109px; overflow:hidden;border:1px solid #dddddd;border-top:none; position:relative;}
.main_r_m .main_r_m_box {width:240px;height:109px;overflow:hidden;}
.main_r_m .main_r_m_box .fouse_img {width:720px;height:109px;}
.main_r_m .main_r_m_box .fouse_img li {float:left;width:240px;height:109px; overflow:hidden}

.main_r_m h2 {font-size:20px; padding:30px 0px 0px 13px;font-family:"Microsoft YaHei"}
.main_r_m p { padding:8px 0px 0px 15px; font-size:14px; color:#c00; font-weight:bold;font-family:"Microsoft YaHei"}
.main_r_m .fouse_btn {width:150px; height:10px; clear:both; margin:0 auto; margin-top: -13px;float: right; position:relative; z-index:2}
.main_r_m .fouse_btn li {float:left; width:10px; height:10px; line-height:10px; background:url(http://www.cpdyj.com/home/images/banner_button24.png) no-repeat 0 -210px; margin-right:10px;display:inline-block; text-indent:-9999px;_background:url(http://www.cpdyj.com/home/images/banner_button8.png) no-repeat 0 -210px;}
.main_r_m li a {float:left; width:10px; height:10px; display:block;}
.main_r_m ul li.cur {background:url(http://www.cpdyj.com/home/images/banner_button24.png) no-repeat -29px -210px;_background:url(http://www.cpdyj.com/home/images/banner_button8.png) no-repeat -29px -210px;}
.main_r_b {width:240px; height:208px; border:1px solid #dddddd; border-top:none; background:#f4f4f4;}
.main_r_b .module_tit {width:240px; height:34px;}
.main_r_b .module_tit h3 {float:left;width:60px; font-size:14px; line-height:18px; color:#333333;background:url(http://www.cpdyj.com/home/images/main_r_b2.png) no-repeat 13px 11px; padding-left:31px; padding-top:11px;}
.main_r_b .module_tit p {float:right;width:80px; height:32px;}
.main_r_b .module_tit p a { float:right; color:#1165aa; line-height:32px; padding-right:13px;padding-top:2px;  }
.main_r_b .module_tit p a span { font-size:10px;}
.main_r_b .module_tit p a:hover {color:#c00;}
/*.main_r_b .mobile_con {width:210px; height:88px; border-top:1px solid #dddddd; margin-left:12px;}
.main_r_b .mobile_con div {float:left;width:68px;height:68px; margin:11px 0px 0 6px; display:inline;}
.main_r_b .mobile_con div p {float:left;width:68px;height:68px; background:url(http://www.cpdyj.com/home/images/main_r_b2.png) no-repeat 0px -18px; text-indent:-9999px;}
.main_r_b .mobile_con ul {float:right;width:107px;height:68px; margin-top:12px; margin-right:13px; display:inline;}
.main_r_b .mobile_con .apple_ico {width:107px;height:29px;background:url(http://www.cpdyj.com/home/images/main_r_b2.png) no-repeat 0px -86px; margin-bottom:6px;}
.main_r_b .mobile_con .android_ico {width:107px;height:29px;background:url(http://www.cpdyj.com/home/images/main_r_b2.png) no-repeat 0px -115px;}
.main_r_b .mobile_con a {width:107px;height:29px; display:block;text-indent:-9999px;}
.main_r_b .khd {width:240px; height:85px; background:#ddd;}
.main_r_b .khd ul {width:240px; height:85px;}
.main_r_b .khd ul li { float:left; width:72px; height:75px; background: url(../images/main_r_b2.png) no-repeat 0 -685px; margin:5px 2px 0 5px;display: inline;}
.main_r_b .khd ul li a{ width:66px; height:66px; display:block; margin:0 auto; margin-top:5px; text-indent:-999em;}
.main_r_b .khd ul li a.ph_server{  background: url(../images/main_r_b2.png) no-repeat 0 -760px;}
.main_r_b .khd ul li a.ph_touch{  background: url(../images/main_r_b2.png) no-repeat 0 -826px;}
.main_r_b .khd ul li a.ph_live{  background: url(../images/main_r_b2.png) no-repeat 0 -892px;}*/

.main_middle {overflow:hidden; margin-bottom:10px; height:397px;}
.main_middle .open_num {float:left;width:240px;height:396px; border:1px solid #dddddd; border-top:none;}
.main_middle .open_num .tit_open_num {width:240px;height:36px; background:#1165aa;}
.main_middle .open_num .tit_open_num h1 {float:left;width:72px; height:35px; font-size:14px; color:#FFFFFF; line-height:35px;padding:1px 0 0 15px;}
.main_middle .open_num .tit_open_num ul {float:left;width:153px;height:27px;margin-top:9px;}
.main_middle .open_num .tit_open_num li {float:left;width:35px; height:27px; line-height:27px; color:#FFFFFF;}
.main_middle .open_num .tit_open_num li span { font-size:10px;}
.main_middle .open_num .tit_open_num ul .more {width:48px; }
.main_middle .open_num .tit_open_num li a { color:#FFFFFF; display:block; text-indent:6px;}
.main_middle .open_num .tit_open_num li a:hover {color:#1165aa; background: url(http://www.cpdyj.com/home/images/main_r_b2.png) no-repeat -72px -435px; text-decoration:none;}

.main_middle .open_num .tit_open_num .rev a {color:#1165aa;background: url(http://www.cpdyj.com/home/images/main_r_b2.png) no-repeat -72px -435px; text-decoration:none;}
.main_middle .open_num .tit_open_num ul .more a:hover {color:#c00;text-decoration:underline; background:none;}

.main_middle .open_num .open_num_list {width:240px;height:360px; position:relative;}
.main_middle .open_num .open_num_list div {width:240px;height:119px; border-bottom:1px dashed #dddddd;}
.main_middle .open_num .open_num_list div h1 { float:left;width:70px;color:#2255aa; padding:20px 0 0 19px;}
.main_middle .open_num .open_num_list div span { float:right; padding:20px 10px 0 0; line-height:14px; color:#333333; font-weight:normal;}
.main_middle .open_num .open_num_list div ul {float:left;width:221px;height:25px; padding:10px 0 0 15px; }
.main_middle .open_num .open_num_list .zc div ul {float:left;width:221px;height:20px; padding:15px 0 0 15px; }
.main_middle .open_num .open_num_list div ul li { float:left; width:25px; height:25px; line-height:25px; background:url(http://www.cpdyj.com/home/images/main_r_b2.png) no-repeat -82px -12px; color:#FFFFFF; font-weight:bold; margin-right:2px; text-align:center;}

.main_middle .open_num .open_num_list div ul .blue {background:url(http://www.cpdyj.com/home/images/main_r_b2.png) no-repeat -83px -37px;}
.main_middle .open_num .open_num_list div ul .test { background:none; width:100px;height:25px; margin-left:36px; line-height:25px; color:#333333; font-weight:normal;}
.main_middle .open_num .open_num_list div ul .test b { margin:0 3px;} 
.main_middle .open_num .open_num_list div ul .football {width:13px; height:20px; line-height:20px;background:url(http://www.cpdyj.com/home/images/main_r_b2.png) no-repeat -94px -62px;}
.main_middle .open_num .open_num_list div p { float:right; margin:15px 18px 0 0; line-height:12px; color:#666666;}
.main_middle .open_num .open_num_list div p a {color:#666666;}
.main_middle .open_num .open_num_list div p a:hover {color:#c00;}
.main_middle .open_num .open_num_list .bottom_no { border-bottom:none;}

.main_middle .open_num .open_num_list .fc {width:240px;height:360px; position:absolute; left:0; top:0px;border-bottom:none;}

.main_middle .open_num .open_num_list .tc {width:240px;height:360px; position:absolute; left:0; top:0px; border-bottom:none;display:none;  }

.main_middle .open_num .open_num_list .zc {width:240px;height:360px; position:absolute; left:0; top:0px;border-bottom:none;}

.recommend_lott { float:left;width:514px; height:395px; border:1px solid #dddddd; border-left:none; position:relative;}
.recommend_lott div {float:left;width:513px; height:132px;}
.recommend_lott h1 {float:left; line-height:12px; font-weight:normal; padding-top:19px; text-indent:10px; color:#666666; margin-right:14px;}
.recommend_lott .species { width:496px;height:46px;margin-left:7px; border-top:1px solid #dddddd;}
.recommend_lott .szc ul { border-top:none;}

.recommend_lott .species li {float:left;width:66px; height:27px; line-height:22px; font-size:14px;margin:12px 7px 0 0; background:url(http://www.cpdyj.com/home/images/main_r_b2.png) no-repeat 0 -171px;}
.recommend_lott .species li a {width:66px; height:27px; color:#666666; text-align:center;display:block;}
.recommend_lott .species li a:hover {color:#ffffff;width:66px;height:27px;background:url(http://www.cpdyj.com/home/images/main_r_b2.png) no-repeat 0 -144px;text-decoration:none;}

.recommend_lott .species .rev a {color:#ffffff;width:66px;height:27px;background:url(http://www.cpdyj.com/home/images/main_r_b2.png) no-repeat 0 -144px;text-decoration:none;}
.recommend_lott s { float:left;width:58px; height:63px;margin-left:21px;text-indent:-9999px;}
.recommend_lott .content {float:left; width:152px; height:86px; margin-left:11px; overflow:hidden;}
.recommend_lott .content li { line-height:22px;}
.recommend_lott .content .title { font-size:14px; line-height:26px;}
.recommend_lott .content li span { color:#c00; font-size:16px;}
.recommend_lott .content li strong {color:#c00; font-weight:normal;}
.recommend_lott .time {float:left;font-size:14px; width:68px; height:86px; margin-left:50px;}
.recommend_lott .time span {font-size:16px;}
.recommend_lott .time li { line-height:26px;}
.recommend_lott i { float:right; width:105px; height:35px; display:block; background:url(http://www.cpdyj.com/home/images/button_1.png) no-repeat; margin-top:6px; padding-right:20px;}
.recommend_lott i a {width:105px; height:35px; line-height:35px; font-size:14px; display:block; color:#b64a08; font-style:normal;text-decoration:none; font-weight:bold; text-align:center; text-shadow:1px 1px #ffffff;}
.recommend_lott i a:hover {color:#b64a08; background:url(http://www.cpdyj.com/home/images/button_1.png) no-repeat 0 -35px;}
.recommend_lott .szc_a s {background:url(http://www.cpdyj.com/home/images/caizhong_logo.png) no-repeat 0 0px;}
.recommend_lott .szc_b s {background:url(http://www.cpdyj.com/home/images/caizhong_logo.png) no-repeat 0 -201px;}
.recommend_lott .jjc_a s{background:url(http://www.cpdyj.com/home/images/caizhong_logo.png) no-repeat 0 -67px;}
.recommend_lott .jjc_a .content {float:left; width:280px; height:86px; margin-left:11px; overflow:hidden;}
.recommend_lott .jjc_a .content li strong {color:#666666; font-weight:normal; display:inline-block; text-align:right; width:58px; margin-right:10px;}
.recommend_lott .jjc_a em { color:#1165aa; font-weight:bold;}
.recommend_lott .jjc_b s {background:url(http://www.cpdyj.com/home/images/caizhong_logo.png) no-repeat 0 -268px;}
.recommend_lott .jjc_b .content {float:left; width: 280px; height:86px; margin-left:11px; overflow:hidden;}
.recommend_lott .jjc_b .content li strong {color:#666666; font-weight:normal;text-align:right; width:58px; margin-right:10px;display:inline-block;}
.recommend_lott .jjc_b em { color:#1165aa; font-weight:bold;}
.recommend_lott .jjc_c s {background:url(http://www.cpdyj.com/home/images/caizhong_logo.png) no-repeat 0 -402px;}
.recommend_lott .jjc_c .content {float:left; width:280px; height:86px; margin-left:11px; overflow:hidden;}
.recommend_lott .jjc_c .content li strong {color:#666666; font-weight:normal;text-align:right; width:58px; margin-right:10px;display:inline-block;}
.recommend_lott .jjc_c em { color:#1165aa; font-weight:bold;}
.recommend_lott .gpc_a .content {float:left; width:215px; height:86px; margin-left:11px;}
.recommend_lott .gpc_a s{background:url(http://www.cpdyj.com/home/images/caizhong_logo.png) no-repeat 0 -134px;}
.recommend_lott .gpc_b .content {float:left; width:215px; height:86px; margin-left:11px;}
.recommend_lott .gpc_b s{background:url(http://www.cpdyj.com/home/images/caizhong_logo.png) no-repeat 0 -335px;}
.recommend_lott .gpc_c .content {float:left; width:215px; height:86px; margin-left:11px;}
.recommend_lott .gpc_c s{background:url(http://www.cpdyj.com/home/images/caizhong_logo.png) no-repeat 0 -469px;}

.recommend_lott .szc .szc_a {float:left;width:513px; height:85px;position:absolute;left:0; top:47px;}

.recommend_lott .szc .szc_b {float:left;width:513px; height:85px;position:absolute;left:0; top:47px;display:none; }

.recommend_lott .jjc_a {float:left;width:513px; height:85px;position:absolute;left:0; top:179px;display:none;}

.recommend_lott .jjc_b {float:left;width:513px; height:85px;position:absolute;left:0; top:179px;}

.recommend_lott .jjc_c {float:left;width:513px; height:85px;position:absolute;left:0; top:179px;display:none;}

.recommend_lott .gpc_a {float:left;width:513px; height:86px;position:absolute;left:0; top:311px;display:none;}

.recommend_lott .gpc_b {float:left;width:513px; height:85px;position:absolute;left:0; top:311px;}

.recommend_lott .gpc_c {float:left;width:513px; height:85px;position:absolute;left:0; top:311px;display:none;}

.module_m_r {float:left;width:240px; height:396px;border:1px solid #dddddd; border-left:none; border-top:none;}
.module_top {float:left;width:240px; height:223px; border-bottom:1px solid #dddddd;}
.module_top .module_tit {float:left;width:240px; height:37px;background:url(http://www.cpdyj.com/home/images/module_tit_bg.png) left 0 no-repeat;}
.module_top .module_tit div {float:left;width:236px; height:37px;background:url(http://www.cpdyj.com/home/images/module_tit_bg.png) 0 -37px repeat-x; padding-left:4px;}
.module_top .module_tit div h1 {float:left;width:236px; height:37px; line-height:37px; text-indent:16px; background:url(http://www.cpdyj.com/home/images/module_tit_bg.png) right -74px no-repeat;}
.module_top .module_tit div span { font-size:16px; line-height:37px; color:#c00;}
.module_top div {float:left;width:240px; height:27px;}
.module_top div ul {float:left;width:240px; height:27px;}
.module_top div ul li {float:left;height:27px;line-height:27px; text-align:center;background:#eeeeee;}

.module_top div ul .rev a {background:#FFFFFF; border-bottom:none;text-decoration:none; font-weight:bold; color:#2f2f2f;}
.module_top div ul .mr {width:68px; height:27px;line-height:27px;  border-bottom:1px solid #e4e4e4;}
.module_top div ul .zc {width:59px;}
.module_top div ul .jc {width:49px;}
.module_top div ul .sz {width:64px;}
.module_top div ul li a { color:#666666; display:block; border-bottom:1px solid #e4e4e4;}
.module_top div ul li a:hover { background:#FFFFFF; border-bottom:none;text-decoration:none; font-weight:bold; color:#2f2f2f;}       
.module_top table {width:208px; height:72px; margin-left:14px;}
.module_top table tr {height:12px;}
.module_top table td { text-indent:3px; padding-top:8px;}             
.module_top table .ranking { width:13px; color:#FFFFFF;background:url(http://www.cpdyj.com/home/images/main_r_b2.png) no-repeat -26px -471px;}
.module_top table td em { float:right;font-style: normal;}
.module_top table td em span { color:#c00;}

.module_bottom {float:left;width:240px; height:172px;}
.module_bottom_tit {width:240px; height:34px; background:#eeeeee; border-bottom:1px solid #dddddd;}
.module_bottom_tit h3 {float:left;width:210px; height:16px;line-height:16px; font-size:14px; background: url(http://www.cpdyj.com/home/images/main_r_b2.png) no-repeat -8px -516px; padding-left:30px; margin-top:10px; position:relative;}
.module_bottom_tit h3 a { position:absolute; top:0; right:13px; font-size:12px; font-weight:normal;}
.module_bottom_tit h3 a span { font-size:10px;}
.module_bottom_tit a:hover {color:#c00;}
.module_bottom_b {float:left; width:240px; height:125px;}    
.module_bottom .module_bottom_b ul { width:240px; height:125px; margin-top:7px;}
.module_bottom .module_bottom_b ul li {line-height:24px; background:url(http://www.cpdyj.com/home/images/main_r_b2.png) no-repeat -104px 11px; padding-left:10px; margin-left:20px; overflow:hidden;height:24px;}
.module_bottom .module_bottom_b li a {color:#666666;}
.module_bottom .module_bottom_b li a:hover { color:#c00;}

.main_banner {overflow:hidden; margin-bottom:10px; height:80px;}
.banner_l { float:left; width:242px; height:80px;}
.banner_r { float:right; width:746px; height:80px;}

.main_bottom { margin-bottom:10px;height:535px; }
.buy_togather { float:left; width:747px; height:535px;}
.buy_togather_t{float:left; width:747px; height:36px; background:#1165ab;}
.buy_togather_t a { color:#FFFFFF;}
.buy_togather_t a:hover {text-decoration:none;}
.buy_togather_t h2 { float:right; line-height:36px; padding-right:15px;font-weight:normal;}
.buy_togather_t h2 span { font-size:10px;}
.buy_togather_t h2 a:hover { color:#C00025;}
.buy_togather_t ul {float:left; width:600px; height:36px; padding-left:26px; }
.buy_togather_t li {float:left; font-size:14px; line-height:36px;background:url(http://www.cpdyj.com/home/images/main_r_b2.png) no-repeat -38px -491px; overflow:hidden;}
.buy_togather_t .nobg { background:none;}
.buy_togather_t li i { display:inline-block;padding:0 9px 0 9px; font-style:normal; color:#FFFFFF; cursor:pointer;}

.buy_togather_t .rev i { display:inline-block;padding:0 0 0 9px; background:url(http://www.cpdyj.com/home/images/main_r_b2.png) no-repeat left -291px;color:#073f6e; text-decoration:none; font-weight:bold;}
.buy_togather_t .rev i span {display:inline-block;padding:0 9px 0 0; background:url(http://www.cpdyj.com/home/images/main_r_b2.png) no-repeat right -291px; background:url(http://www.cpdyj.com/home/images/main_r_b2.png) no-repeat right -292px\0;}
.buy_togather_m {float:left; width:746px; height:29px; background:#FFFFFF; border-left:1px solid #dddddd;}
.buy_togather_m .nobg {background:none;}
.buy_togather_m h1 {float:left; width:62px; font-size:12px; line-height:29px; padding-left:25px; color:#333333;}
.buy_togather_m ul {float:left; width:652px; height:29px; padding-left:0px;}
.buy_togather_m ul .start {padding:0 17px 0 6px;}
.buy_togather_m li {float:left;line-height:29px; padding:0 17px 0 20px; background:url(http://www.cpdyj.com/home/images/main_r_b2.png) no-repeat -38px -494px; overflow:hidden; }
.buy_togather_m li a {color:#666666;}
.buy_togather_m li a:hover {color:#c00;}

.buy_togather_content {float:left; width:746px; height:468px; background:#FFFFFF; border:1px solid #dddddd; border-right:none;}
.buy_togather_content .content_no {width:746px; height:468px;}
.buy_togather_content .content_no h1 { font-size:18px; line-height:18px; color:#c00; text-align:center; margin-top:220px; font-weight:normal;font-family:"Microsoft YaHei";}
.buy_togather_content .content_no p {font-size:18px; line-height:18px; text-align:center; margin-top:18px;}
.buy_togather_content .content_no p a { color:#c00;text-decoration:underline; font-family:"Microsoft YaHei";}
.buy_togather_content table {float:left; width:746px;}
.buy_togather_content table tr { width:746px; height:36px; line-height:36px; background:#f8f8f8; text-align:center; zomm:1; display:inline-block; overflow:hidden;}
.buy_togather_content table .tr_b {background:#ffffff;}
.buy_togather_content table .cay { background:#fffee3;height:36px;}
.buy_togather_content table .cay .d ,.buy_togather_content table .cay .e ,.buy_togather_content table .cay .f ,.buy_togather_content table .cay .g { color:#c00;}
.buy_togather_content table .tr_c td { color:#063f6f;}
.buy_togather_content table .tr_c .c {text-align:center;}
.buy_togather_content table td { line-height:36px;}
.buy_togather_content table .a { width:75px; padding-left:16px; text-align:left;}
.buy_togather_content table .b { width:138px;}
.buy_togather_content table .c { width:120px;text-align:left;}
.buy_togather_content table .d { width:94px;}
.buy_togather_content table .e { width:73px;text-align:right;}
.buy_togather_content table .f { width:86px;}
.buy_togather_content table .g { width:62px; text-align:right;}
.buy_togather_content table .h { width:74px;}
.buy_togather_content table .l {width:75px;}
.buy_togather_content table .c img { float:left;vertical-align: middle; display: inline-block; margin-right:2px;_margin-right:1px;}
.buy_togather_content table .c a:hover { text-decoration:none;}
.buy_togather_content table tr span { color:#c00;}
.buy_togather_content table .h a { width:45px;height:20px; line-height:20px;_line-height:23px;color:#FFFFFF;text-decoration:none;display: inline-block;}

.main_bottom_r {float:right;width:249px; height:533px; border:1px solid #dddddd;}
.main_bottom_r .data {float:left; width:249px; height:133px;}
.main_bottom_r .data h1 {width:210px; height:34px; line-height:33px; font-size:14px; border-bottom:1px solid #dddddd; background:#eeeeee url(http://www.cpdyj.com/home/images/main_r_b2.png) no-repeat -72px -400px; padding-left:39px;}
.main_bottom_r .data img { margin:9px 0 0 11px;}
.main_bottom_r .trend {float:left;width:249px; height:86px;}
.main_bottom_r .trend ul {float:left;width:249px;height:26px;background:#eeeeee;}
.main_bottom_r .trend li {float:left; width:54px; padding-left:8px; line-height:26px;}
.main_bottom_r .trend li a { color:#333333; display:block;padding-left:9px;}
.main_bottom_r .trend li a span { font-size:10px;}

.main_bottom_r .trend .rev a { background:url(http://www.cpdyj.com/home/images/main_r_b2.png) no-repeat 0 -439px; text-decoration:none;}
.main_bottom_r .trend .trend_nobg { line-height:26px; }
.main_bottom_r .trend .trend_nobg a { color:#1165aa;}
.main_bottom_r .trend .trend_nobg a:hover {color:#c00;background:none;}
.main_bottom_r .trend table {width:231px;height:32px; margin-left:15px; margin-top:5px;}
.main_bottom_r .trend tr {height:16px; width:200px;}
.main_bottom_r .trend td { color:#666666; padding-top:8px;}
.main_bottom_r .trend td a {color:#666666;}
.main_bottom_r .trend td a:hover {color:#073f70;}
.main_bottom_r .league {float:left;width:240px; height:178px;}
.main_bottom_r .league h1 {float:left;width:234px; height:26px;line-height:26px; font-size:14px; background:#eeeeee;padding-left:15px; position:relative;}
.main_bottom_r .league h1 a { position:absolute; top:0; right:13px; font-size:12px; font-weight:normal;}
.main_bottom_r .league h1 a span { font-size:10px;}
.main_bottom_r .league ul {float:left;width:226px;height:63px; padding:8px 0 2px 11px;}
.main_bottom_r .league li {float:left;width:46px;height:63px; padding:0px 5px 0px 5px;}

.main_bottom_r .league li a {width:46px; height:63px; display:block; text-indent:-9999px;}
.main_bottom_r .league .league_1 a { background: url(http://www.cpdyj.com/home/images/league.png) no-repeat 0 0;}
.main_bottom_r .league .league_2 a { background: url(http://www.cpdyj.com/home/images/league.png) no-repeat -46px 0;}
.main_bottom_r .league .league_3 a { background: url(http://www.cpdyj.com/home/images/league.png) no-repeat -92px 0;}
.main_bottom_r .league .league_4 a { background: url(http://www.cpdyj.com/home/images/league.png) no-repeat -138px 0;}
.main_bottom_r .league .league_5 a { background: url(http://www.cpdyj.com/home/images/league.png) no-repeat 0 -63px;}
.main_bottom_r .league .league_6 a { background: url(http://www.cpdyj.com/home/images/league.png) no-repeat -46px -63px;}
.main_bottom_r .league .league_7 a { background: url(http://www.cpdyj.com/home/images/league.png) no-repeat -92px -63px;}
.main_bottom_r .league .league_8 a { background: url(http://www.cpdyj.com/home/images/league.png) no-repeat -138px -63px;}
.main_bottom_r .score {float:left;width:249px; height:59px;}
.main_bottom_r .score h1 {float:left;width:234px; height:26px;line-height:26px; font-size:14px; background:#eeeeee;padding-left:15px; position:relative;}
.main_bottom_r .score h1 a { position:absolute; top:0; right:13px; font-size:12px; font-weight:normal;}
.main_bottom_r .score h1 a span { font-size:10px;}
.main_bottom_r .score ul {float:left;width:242px; height:33px; padding-left:7px;}
.main_bottom_r .score li {float:left;height:33px; line-height:33px; background:url(http://www.cpdyj.com/home/images/main_r_b2.png) no-repeat -38px -493px; padding:0 8px; overflow:hidden;}
.main_bottom_r .score .nobg { background:none;}
.main_bottom_r .score .score_b {height:20px; margin-top:5px;}
.main_bottom_r .score .score_b li {height:20px; line-height:20px;background:url(http://www.cpdyj.com/home/images/main_r_b2.png) no-repeat -38px -500px;}
.main_bottom_r .score .score_b .nobg { background:none;}
.main_bottom_r .score li a {padding-right:0px;color:#666666;}
.main_bottom_r .score li a:hover {color:#073f70;}

.help_center {height: 137px;margin-bottom: 10px;overflow: hidden; background:#FFF; border:1px solid #ccc;}
.help_center h2 { border-top: 5px solid #F5FAFF; font-size: 12px;font-weight: normal;line-height: 48px;text-align:center;}
.help_center ul { width: 120%;}
.help_center li {background-position: right 0;display: inline;float: left;height: 85px;margin-left: 50px;padding-right: 54px; overflow:hidden;}
.help_center li s {float:left;height: 46px;margin-right: 15px;width: 46px;}
.help_center .help01 s { background-position: 0 -91px;}
.help_center .help02 s {background-position: -50px -91px;}
.help_center .help03 s {background-position: -100px -91px;}
.help_center .help04 s {background-position: -150px -91px;}
.help01 .help_con {width: 98px;}
.help02 .help_con {width: 125px;}
.help03 .help_con {width: 130px;}
.help04 .help_con {width: 120px;}
.help_center li .help_con {float: left;}
.help_center p {line-height: 19px;}
.help_center p a {color: #333333; text-decoration: underline; font-size:14px;}
.help_center p a:hover { color: #CC0000;}

.friend_link {border: 1px solid #DDDDDD;color: #999999;line-height: 18px;margin: 0 auto 10px;overflow: hidden;padding: 15px 0 15px 15px;width: 981px;}
.friend_link a {color: #999999;margin-right: 13px;}
.buy_togather_t li a :hover{ color:black}
.btn_twoword, .header_nav li a, .btn_banner_close, .nav_side, .phone_buy, .selling li s, .login a, .percent100_tit, .num_style, .num_style_squre, .icon_more, .help_center li s, .more_con h3 s, .more_con_bow, .icon_nav, .dialog01 .dialog-title .dialog-close, .outbox_error s, .button_login, .icon_s3, .icon_bow, .pagebtn, .pagebtn span, .btn_org span, .btn_org, .icon_wrong, .icon_right, .btn_box_sure, .channel_logo, .nav_chnnel_corner, .buy_ticket_a, .fill_info_error s, .set_home s, .dialog01 .dialog-title .close_outbox, .dialog02 .dialog-title .dialog-close, .close_outbox, .have_child s, .buy_ticket_link s {
    background: url(http://static.cpdyj.com/img/trade/sprite.png) no-repeat;
}


/*  20141219修改  */
.newlogo { float:left; display:block; background:url(http://www.cpdyj.com/home/images/logo3.gif) no-repeat; height:81px; width:240px;text-indent: -9999px; margin:0}
.main_r_b .mobile_con {width:210px; height:98px; border-top:1px solid #dddddd; margin-left:12px;}
.main_r_b .mobile_con div {float:left;width:80px;height:80px; margin:8px 0px 0px 0px; display:inline;}
.main_r_b .mobile_con div p {float:left;width:80px;height:80px; background: url(http://www.cpdyj.com/home/images/main_r_b3.png) no-repeat 0px 0px; text-indent:-9999px;}
.main_r_b .mobile_con ul {float:right;width:120px;height:78px; margin-top:10px;display:inline;}
.main_r_b .mobile_con .apple_ico { float:left;width:120px;height:33px;background:url(http://www.cpdyj.com/home/images/main_r_b3.png) no-repeat 0px -82px; margin-bottom:10px;}
.main_r_b .mobile_con .android_ico { float:left;width:120px;height:33px;background:url(http://www.cpdyj.com/home/images/main_r_b3.png) no-repeat 0px -115px;}
.main_r_b .mobile_con a {width:120px;height:33px; display:block;text-indent:-9999px;}
.main_r_b .khd {width:240px; height:75px; background:#ddd;}
.main_r_b .khd ul {width:240px; height:75px;}
.main_r_b .khd ul li { float:left; width:72px; height:64px;margin:6px 2px 0 5px;display: inline;}
.main_r_b .khd ul li a{ width:72px; height:64px; display:block;text-indent:-999em;}
.main_r_b .khd ul li a.ph_server{  background: url(http://www.cpdyj.com/home/images/main_r_b3.png) no-repeat 0 -151px;}
.main_r_b .khd ul li a.ph_touch{  background: url(http://www.cpdyj.com/home/images/main_r_b3.png) no-repeat 0 -215px;}
.main_r_b .khd ul li a.ph_live{  background: url(http://www.cpdyj.com/home/images/main_r_b3.png) no-repeat 0 -279px;}
/*  20141219修改 end  */



/*  20141226修改  */
.main_l { float:left; width:240px;  height:538px; border:1px solid #06406e; border-top:none; background:#f5fafe;}
.main_l div { float:left; width:220px; border-bottom:1px solid #d0e1f3; border-top:1px solid #FFFFFF; padding:9px 0 0px 20px;}
.main_l div ul {float:left;width:28px;}
.main_l div ul .list01_logo{width:28px;  height:22px; background:url(http://www.cpdyj.com/home/images/main_logo.gif) no-repeat 0 -10px; text-indent:-9999px;}
.main_l div ul .list02_logo{width:28px;  height:28px; background:url(http://www.cpdyj.com/home/images/main_logo.gif) no-repeat 0 -39px; text-indent:-9999px;}
.main_l div ul .list03_logo{width:28px;  height:28px; background:url(http://www.cpdyj.com/home/images/main_logo.gif) no-repeat 0 -71px; text-indent:-9999px;}
.main_l div ul .list04_logo{width:28px;  height:28px; background:url(http://www.cpdyj.com/home/images/main_logo.gif) no-repeat 0 -106px; text-indent:-9999px;}
.main_l div ul .list05_logo{width:28px;  height:28px; background:url(http://www.cpdyj.com/home/images/main_logo.gif) no-repeat 0 -138px; text-indent:-9999px;}
.main_l div ul .list06_logo{width:28px;  height:22px; background:url(http://www.cpdyj.com/home/images/main_logo.gif) no-repeat 0 -175px; text-indent:-9999px;}
.main_l div ul .list07_logo{width:28px;  height:22px; background:url(http://www.cpdyj.com/home/images/main_logo.gif) no-repeat 0 -206px; text-indent:-9999px;}
.main_l .last { border-bottom:none;}
.main_l div .list_species {float:left; width:156px; padding-left:18px;}
.main_l div .list_species li {float:left;width:72px; height:23px;padding-left:6px;overflow: hidden;zoom:1; display:inline;}
.main_l div .list_species li a {color:#063f6f; float:left}
.main_l div .list_species li a:hover {color:#cc0000;}
.main_l .list03 .title { padding:19px 0 27px 0;}
.main_l .list02 .title { padding:8px 0 16px 0;}
.main_l .list01 ,.main_l .list02 ,.main_l .list03 { position:relative;z-index:1;zoom:1;}

.main_l div .title .main_add {width:18px;height:14px;background:url(http://www.cpdyj.com/home/images/main_r_b2.png) no-repeat -24px -556px;left:46px;text-indent:-9999px;}
.main_l .list01 .title .main_add {position:absolute; top:9px;}
.main_l .list02 .title .main_add {position:absolute; top:18px;}
.main_l .list03 .title .main_add {position:absolute; top:29px;}

.main_l div .title .main_hot {width:18px;height:14px; background:url(http://www.cpdyj.com/home/images/main_r_b2.png) no-repeat 0 -556px; left:46px;text-indent:-9999px;}
.main_l .list01 .title .main_hot {position:absolute; top:9px;}
.main_l .list02 .title .main_hot {position:absolute; top:18px;}
.main_l .list03 .title .main_hot {position:absolute; top:29px;}


.main_l div .title .main_new {width:18px;height:14px;background:url(http://www.cpdyj.com/home/images/main_r_b2.png) no-repeat -48px -556px;left:46px;text-indent:-9999px;}
.main_l .list01 .title .main_new {position:absolute; top:9px;}
.main_l .list02 .title .main_new {position:absolute; top:18px;}
.main_l .list03 .title .main_new {position:absolute; top:29px;}

.main_l div .list_species li .new {float:left; width:18px; height:14px; background:url(http://www.cpdyj.com/home/images/main_r_b2.png) no-repeat -48px -556px; display:block;}
.main_l div .list_species li .hot {float:left; width:18px; height:14px; background:url(http://www.cpdyj.com/home/images/main_r_b2.png) no-repeat 0 -556px; display:block;}
.main_l div .list_species li .add {float:left; width:18px; height:14px; background:url(http://www.cpdyj.com/home/images/main_r_b2.png) no-repeat -24px -556px; display:block;}

/*  2015113修改 end  */
.newyear { background:url(../images/newyear.png) no-repeat center top;}
.nav_newyear { width:998px; margin:0 auto;}
